@model CrudMongoDB.Models.Aviao

@{
    ViewData["Title"] = "AtualizarAviao";
}

<h1>AtualizarAviao</h1>

<h4>Aviao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AtualizarAviao">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                <input asp-for="AviaoId" hidden />
              
            <div class="form-group">
                <label asp-for="Fabricante" class="control-label"></label>
                <input asp-for="Fabricante" class="form-control" />
                <span asp-validation-for="Fabricante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeLugares" class="control-label"></label>
                <input asp-for="QuantidadeLugares" class="form-control" />
                <span asp-validation-for="QuantidadeLugares" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

